.container {
    margin: 0 auto;
    margin-top: 50 px;
    width: 500pxpx;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    float: center;
    width: 400 px;
    margin-right: 20px;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;    
}


img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
h2 {
    font-size: medium;
}

h3 {
    font-size: small;
}

